<h1>lightbox2-rails dummy app</h1>

<p>
  <a class="lb-link" href="<%= image_path('matrix-pexels.jpg') %>" data-lightbox="library">
    <img class="lb-img" src="<%= image_path('matrix-pexels-thumb.jpg') %>" alt="Matrix"
  ></a>
  <a class="lb-link" href="<%= image_path('rails-pexels.jpg') %>" data-lightbox="library">
    <img class="lb-img" src="<%= image_path('rails-pexels-thumb.jpg') %>" alt="Rails"
  ></a>
</p>
